.bundle
db/*.sqlite3
log/*.log
log/*.gz
tmp/**/*
db/schema.rb
TAGS
*.sql
vendor/rails
*.sh
*.csv
*.orig
/*.rb
/public/stylesheets/all.css
/tmp/restart.txt
/config/app_config.yml
/config/environments/*.yml
/tmp/*.pdf
/foo*
/bar*
config/database.yml
*.old
