<p>
  <b>Evaluation category:</b>
  <%=h @item.evaluation_category_id %>
</p>

<p>
  <b>Evaluation item:</b>
  <%=h @item.evaluation_item_id %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>