<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ESS</title>
        <%= stylesheet_link_tag "web_app_theme", "web_app_theme_override", "themes/reidb-greenish/style", :cache => true %>
</head>
<body>
  <div id="container">
    <div id="box">
      <div id="block-login" class="block">
        <h2>Login</h2>
        <div class="content login">
          <div class="flash">
            <% if flash[:notice] -%>
              <div class="message notice">
                <p><%= flash[:notice] %></p>
              </div>
            <% end -%>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
